/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  font-family: 'Montserrat', sans-serif;
}

/* Chrome, Edge, Safari */
.thin-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

/* Firefox */
.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 #f1f5f9;
}
